[user]
	email = me@simonwillshire.com
	name = Simon Willshire
[core]
  editor = nvim
[init]
	defaultBranch = main
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
  tool = nvim
[mergetool]
  prompt = false
